# Python
__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
dist/
downloads/
*.egg-info/
*.egg

# Env
.env
.venv
venv/
env/
.files/

# IDE
.idea/
.vscode/

# Project Specific
.chainlit/
exports/
qdrant_data/
postgres_data/
*.db
*.sqlite

# Dumps & Scripts
combined_output.txt
walkthrough.md
summ.py
task.md
analysis_results.md
test.py
summ.py